
<div class="description">
    <div class="intro-text">
      <h1>One more step to activate your Account</h1>
      <p>We have sent an email to provided email address</p>
      <p>Go to your emails and activate your account now to experience our platform</p>
    </div>

    <img src="img/activate.png" alt="activate" class="activate">
</div>


<img class="large-circle" src="img/circle-large.png" alt="">
<img class="medium-circle" src="img/circle.png" alt="">
<img class="small-circle" src="img/circle.png" alt="">
