<div class="container">
		<h1 align="center" style="margin-bottom: 80px; margin-top: 20px">Dashboard | {{username}}</h1>
	<!-- <div class="row col-md-12"  >
		<div class="shadow p-3 mb-5 rounded col-md-5 lk-add-sale"  style="margin-left:30px">Add Sale</div>
		<div class="col-md-1"></div>
		<div class="shadow p-3 mb-5 rounded col-md-5 lk-add-new-product" style="margin-left:30px">Add New Product</div>
	</div>
	<div class="row col-md-12">
		<div class="shadow p-3 mb-5 rounded col-md-5 lk-view-sale" style="margin-left:30px">View Sales</div>
		<div class="col-md-1"></div>
		<div class="shadow p-3 mb-5 rounded col-md-5 lk-update-sale" style="margin-left:30px">Update Stock</div>
	</div> -->

	<div class="row col-md-12" style="padding:40px; padding-top:0" >
		<div class="shadow p-3 mb-5 rounded col-md-12 lk-product-list">Product List</div>
	</div>

</div>

<input id="test" type="text"  value="{{email}}">

<script type="text/javascript">

</script>
