<div class="container">
		<h1 class="dash-head" >Dashboard | {{user.username}}</h1>

	<div class="dashboard">

		 <button type="button" onclick="window.location.href='/add_sale';" name="button" >Add Sale</button>
	 	 <button type="button" onclick="window.location.href='/add_new_product';" name="button">Add New Product</button>
		 <button type="button" onclick="window.location.href='/view_sale';" name="button">View Sales</button>
		 <button type="button" onclick="window.location.href='/update_stock';" name="button">Update Stock</button>
		 <button type="button" onclick="window.location.href='/product_list';" name="button">Product List</button>

		<img src="/img/tablets.png" alt="tablets" class="tablet-img">
	</div>


</div>

	<img src="/img/dashboard.png" alt="dashboard" class="computer-img">


<script type="text/javascript">

</script>
