<div class="container">
		<h1 class="dash-head" >Dashboard | {{user.username}}</h1>

	<div class="dashboard">

		<a href="#"> <button type="button" name="button" >Add Sale</button> </a>
		<a href="#"> <button type="button" name="button">Add New Product</button> </a>
		<a href="#"> <button type="button" name="button">View Sales</button> </a>
		<a href="#"> <button type="button" name="button">Update Stock</button> </a>
		<a href="#"> <button type="button" name="button">Product List</button> </a>

		<img src="/img/tablets.png" alt="tablets" class="tablet-img">
	</div>


</div>

	<img src="/img/dashboard.png" alt="dashboard" class="computer-img">


<script type="text/javascript">

</script>
