
<div class="forbidden">
  <h2>{{message}}</h2>

  <p>Error</p>
</div>


<img class="large-circle" src="/img/circle-large.png" alt="">
<img class="medium-circle" src="/img/circle.png" alt="">
<img class="small-circle" src="/img/circle.png" alt="">
