
<main>
  <section class="presentation">
    <div class="form-adj">

    <div id="form-area" class="form-area">

        <div class="button-box">
          <div id="btn"></div>
          <button type="button" name="button" class="toggle-btn" onclick="login()">Login</button>
          <button type="button" name="button" class="toggle-btn" onclick="register( )">Register</button>
        </div>

        <form id="login" class="input-group" >
          <input id="username" type="text" class="input-field" placeholder="Enter Username" required>
          <div class="textbox text-center username-log">  </div>
          <input id="password" type="text" class="input-field" placeholder="Enter Password" required>
          <div class="textbox text-center password-log">  </div>
          <input id="rememberPass" type="checkbox" class="check-box"><span>Remember Password</span>
          <button id="log-btn" type="button" class="submit-btn log" onclick="submit_login()">Login</button>
        </form>

        <form id="register" class="input-group">
          <input id="username-r" type="text" class="input-field" placeholder="Enter Username*" required>
          <input id="firstname" type="text" class="input-field" placeholder="Enter First Name">
          <input id="lastname" type="text" class="input-field" placeholder="Enter Last Name">
          <input id="email-r" type="email" class="input-field" placeholder="Enter Email*" required>
          <input id="password-r" type="text" class="input-field" placeholder="Enter Password*" required>
          <div class="textbox text-cente password-reg">  </div>
          <input id="password-2" type="text" class="input-field" placeholder="Retype Password*" required>
          <div class="textbox text-cente password2-reg">  </div>
          <input id="phone" type="tel" class="input-field" placeholder="Telephone number*" required>
          <div class="textbox text-center phone-reg">  </div>
          <button id="reg-btn" type="submit" class="submit-btn reg" onclick="submit_register()">Register</button>
        </form>

    </div>
    </div>

    <div class="description">
        <div class="intro-text">
          <h1>We provide you a platform to...</h1>
          <ul>
            <li>Manage your daily sales.</li>
            <li>Manage your stocks.</li>
            <li>Get your sales reports.</li>
          </ul>
        </div>
    </div>


  </section>
</main>

<img class="large-circle" src="img/circle-large.png" alt="">
<img class="medium-circle" src="img/circle.png" alt="">
<img class="small-circle" src="img/circle.png" alt="">





<!-- scrypt -->
<script type="text/javascript">

////////////change styles with toggle button/////////////////////
  var x = document.getElementById('login');
  var y = document.getElementById('register');
  var z = document.getElementById('btn');

  var p = document.getElementById('form-area');
  var screen_size = window.matchMedia("(max-width: 660px)");


  function register(){
    x.style.left ="-400px";
    z.style.left = "110px";
    p.style.height = "550px";

    if (screen_size.matches) {
      y.style.left ="30px";
    }else {
       y.style.left ="50px";
    }
  }

  function login(){
    y.style.left = "450px";
    z.style.left = "0";
    p.style.height = "400px";

     if (screen_size.matches) {
       x.style.left ="30px";
     }else {
        x.style.left ="50px";
     }
  }

  ///////////////////////// submit login/////////////////////////////////////////////////////
  function submit_login(){

    if (check_empty_fields()>0) {
      console.log("some fields empty");
      return;
    }else {
      // console.log("continue your work");
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;
      console.log(username);
      console.log(password);
      var data = {username : username , password :password}
      $.post("/login", data);
    }
  }

  function check_empty_fields(){
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;

    var display_u = document.getElementsByClassName("username-log")[0];
    var display_p = document.getElementsByClassName("password-log")[0];
    var error_count = 0;

    if (username.length==0) {
      display_u.innerHTML = "please enter username";
      error_count++;
    }else  {
      display_u.innerHTML = "";
    }

    if (password.length==0) {
      display_p.innerHTML = "please enter password";
      error_count++;
    }else {
      display_p.innerHTML = "";
    }

    return error_count;
  }

  ///////////////////////submit register//////////////////////////////////
  function submit_register(){

    if (reg_form_empty_fields()>0) {
      console.log("some fields empty reg form");
      return;
    }else {

      var username = document.getElementById('username-r').value;
      var firstname = document.getElementById('firstname').value;
      var lastname = document.getElementById('lastname').value;
      var email = document.getElementById('email-r').value;
      var password = document.getElementById('password-r').value;
      var password2 = document.getElementById('password-2').value;
      var phone = document.getElementById('phone').value;
      console.log(password);

      var data = {username : username ,
                  firstname:firstname,
                  lastname:lastname,
                  email:email,
                  password:password,
                  password2 :password2,
                  phone:phone}

      $.post("/register", data); //last edited here
    }
  }

  function reg_form_empty_fields() {

    var username = document.getElementById('username-r').value;
    var email = document.getElementById('email-r').value;
    var password = document.getElementById('password-r').value;
    var password2 = document.getElementById('password-2').value;
    var phone = document.getElementById('phone').value;

    var display_p2 = document.getElementsByClassName("password2-reg")[0];
    var display_phone = document.getElementsByClassName("phone-reg")[0];

    var error_count = 0;

    if (username.length==0 || password.length==0 || email.length==0 || phone.length==0  ) {
      display_phone.innerHTML = "* marked fields are mandatory";
      error_count++;
    }else  {
      display_phone.innerHTML = "";
    }

    if (password!=password2) {
      display_p2.innerHTML = "password do not match";
      error_count++;
    }else {
      display_p2.innerHTML = "";
    }

    return error_count;
  }

//////////////check password////////////////////
  var code = document.getElementById('password-r');

  code.addEventListener("keyup", function() {
    checkpassword(code.value);
  });

  function checkpassword(password) {
    // console.log("check pass");
    var display = document.getElementsByClassName("password-reg")[0];
    if (password.length < 6) {
      display.innerHTML = "minimum number of characters is 6";
    }else{
      display.innerHTML = "";
    }
    if (password.length > 20) {
        display.innerHTML = "maximum number of characters is 20";
    }
  }

</script>
