

<header class="page-header header container-fluid">

		<div class="overlay"></div>
		<div class="description">
      	  
      <h1 class="head-animate">{{heading}}</h1>
		  <p class="text-animate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis. Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.</p>
		  <a href="/register">
      <button class="btn btn-outline-secondary btn-lg" >Register Now..!</button>
      </a>
      
		</div>

</header>