


<div class=" register" >
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are few steps away to get started with CHRN_Sales.!</p>
                         <a href="/register">
                        <input type="submit" name="" value="Register"/><br/>
                        </a>    
                    </div>

                    
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist"> </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Log into CHRN Sales</h3>

                            <form action="/login" method="post">
                                {{#if error}}
                                    <div class="alert alert-danger oc-alert">{{error}}</div>
                                {{/if}}
                                {{#if success}}
                                    <div class="alert alert-success oc-alert">{{success}}</div>
                                {{/if}}
                                <div class="row register-form">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label> Enter your Email</label>
                                            <input type="email" class="form-control" name="email" placeholder="Email" />
                                        </div>
                                        <div class="form-group">
                                            <label> Enter your Password</label>
                                            <input type="password" class="form-control" name="password" placeholder="Password" />
                                        </div>
                                       
                                        <div class="form-group">
                                            <button type="submit" class="btnRegister"  value="login">Login</button> 
                                        </div>
                                    </div>  
                                </div>
                            </form>

                            </div>
                            
                        </div>
                    </div>

                </div>

            </div>