*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}

button{
  font-family: 'Poppins', sans-serif;
}

header{
  display: flex;
  /* background-color: #B2BABB ; */
  width: 90%;
  margin: auto;
  height: 10vh;
  align-items: center;
}

.logo-container{
  display: flex;
  flex: 1;
}

.logo-container img{
  height: 50px;
}

.logo-container h4{
  margin: 5px;
  color: #5f5f79;
  font-size: 25px;
}

nav{
  flex: 2;
}

nav ul{
  display:flex;
  justify-content: space-around;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  color: #5f5f79;
  font-size: 18px;
}

.checkbtn{
  font-size: 30px;
  color: #5f5f79;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


/* main area */
.add_product{
  /* display: flex;
  flex-direction: column; */
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}



.image-preview{
  width: 300px;
  min-height: 100px;
  border: 2px solid #dddd;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccc;
}

.ip-image{
  display: none;
  width: 100%;
}

#dropFileForm{
  margin: 16px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s;
}

#dropFileForm #fileLabel{
  background-color: rgba(0, 255, 0, 0.5);
  display: block;
  padding: 16px;
  position: relative;
  cursor: pointer;
}

#dropFileForm #fileInput{
  display: none;
}

#dropFileForm #fileLabel::after,
#dropFileForm #fileLabel::before{
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: -2;
  border-radius: 8px 8px 0 0;
}

#dropFileForm #fileLabel::before{
  z-index: -1;
  background: repeating-linear-gradient(45deg,
                                        transparent,
                                        transparent 5%,
                                        black 5%,
                                        black 10%);
  /* background: yellow; */
  opacity: 0;
  transition: 0.5s;
}

#dropFileForm.fileHover #fileLabel::before{
  opacity: 0.25;
}


#dropFileForm .uploadButton{
  border: 0;
  outline: 0;
  width: 100%;
  padding: 8px;
  background-color: lightGreen;
  color: #fff;
}

#dropFileForm .fileHover{
  box-shadow: 0 0 16px limeGreen;
}

.save-btn{
  font-size: 20px;
  font-weight: 500;
  width: 20%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #2E86C1,#AED6F1);
  border: 0;
  outline: none;
  border-radius: 30px;
}










.copyright{
  margin-top: 10px;
  background-color: #273746;
  padding: 5px;
  color: white;
  text-align: center;
}

@keyframes drop_description {
  0%{
    opacity: 0;
    transform: translateY(-80px);
  }
}


@media  screen and (max-width:1024px) {
  .checkbtn{
    display: block;
  }
  nav{
    z-index: 1;
    position: fixed;
    width: 100%;
    height:auto;
    background:#2471A3;
    opacity: 0.8;
    top: 40px;
    text-align: center;
    left: 100%;
    transition: all 0.5s;
  }

  nav ul {
    display: block;
  }

  nav ul li{
    padding: 20px;
    cursor: pointer;
    /* width: 100%; */
  }
  nav ul li:hover .nav-link{
    background: #154360 ;
  }

  nav ul li a{
    color: white;
    width: 100%;
    font-size: 15px;
  }

  #check:checked ~ nav{
    left: 0;
  }

  .logo-container img{
    height: 30px;
  }

  .logo-container h4{
    font-size: 20px;
  }

  .presentation{
    flex-direction: column;
  }

  .description{
    margin-top: 5vh;
    text-align: center;
  }

  .intro-text h1{
    font-size: 30px;
  }

}


 @media  screen and (max-width:660px) {
   .checkbtn{
     font-size: 20px;
   }

  .logo-container h4{
    font-size: 15px;
    }

    header{
      height: 6vh;
    }

  .intro-text h1{
    font-size: 20px;
  }
  .intro-text ul li{
    font-size: 20px;
  }

  /* form area */
  .form-area{
    width: 300px;
  }

  .input-group{
    width: 250px;
  }

  #login{
    left: 30px;
  }

  #register{
    left: 450px;
  }

}
