.copyright{
  margin-top: 10px;
  /* background-color: #273746;#3498DB */
  background-color: #3498DB;
  padding: 5px;
  color: white;
  text-align: center;
  margin-bottom: 5px;
  align-items: center;
}

@media  screen and (max-width:660px) {
  .copyright{
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 5px;
  }
}
