.copyright{
  margin-top: 10px;
  width: 100%;
  background-color: #3498DB;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
  align-items: center;

}

.copyright p,hr{
  color: white;
}

.copyright p{
  padding-top: 5px;
}
@media  screen and (max-width:660px) {
  .copyright{
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 5px;
  }
}
