
/* main area */
.update_stock{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  min-height: 80vh;
  align-items: center;

}


/* success alert message */
.alert-success {
  padding: 10px;
  background-color: #d4edda;
  font-size: 20px;
  color: #155724;
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  display: none;
}

.closebtn-success {
  margin-left: 15px;
  color: #28B463;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn-success:hover {
  color: white;
}
/*/////////////////  */



.update_stock h1{
  color: #5546FB;
  text-align: center;
  text-shadow: 2px 2px #46DCFB;
  margin-bottom: 20px;
}

.update-form{
  width: 60%;
  margin: auto;
  padding: 30px;
  border: 3px solid #5DADE2;
  border-radius: 20px;
  background-color: #F7F9F9;
}

.label-area{
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #85929E;
  border-radius: 10px;
  display: flex;
}


.p-name{
  flex: 3;
}

.quantity{
  flex: 1;
}

.p-name select{
  width: 80%;
}

.update-form .label{
  /* background-image: linear-gradient(to left,  #BA4A00, #F4D03F); */
  color: #2874A6;
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
}


.label-area input{
  text-align: center;
  border:2px solid #5DADE2;
  border-radius: 10px;
  height: 30px;
  font-size: 17px;
  color: #5D6D7E ;
  outline: none;

}

.label-area select{
  text-align: center;
  border:2px solid #5DADE2;
  border-radius: 10px;
  height: 30px;
  font-size: 17px;
  color: #5D6D7E ;
  outline: none;
}

.textbox{
  color: red;
  font-size: 20px;
}

.discription{
  display: flex;
}


.image-preview{
  width: 100%;
  height: 200px;
  border: 2px solid #dddd;
  margin-top: 15px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccc;
}

.ip-image{
  display: none;
  width: auto;
  overflow-x: scroll;
  height: 100%;
}

#qty-display{
  flex: 1;
  margin-top: 15px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border: 2px solid #5DADE2;
}

 .qty-view{
   margin: 20px;
   font-size: 20px;
}

.show-qty{
  font-size: 40px;
}

.save-btn{
  margin-top: 100px;
  font-size: 20px;
  font-weight: 500;
  width: 40%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #2E86C1,#AED6F1);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.save-btn:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


@media  screen and (max-width:1024px) {
  .update-form{
    width: 100%;
  }

  .alert-success{
    width: 100%;
  }

}


@media  screen and (max-width:660px) {

  .update-form{
    padding:10px;
  }

  .alert-success{
     font-size: 15px;
     width: 100%;
   }

  .label-area{
    flex-direction: column;
  }

  .update-form .label{
    font-size: 15px;
    margin: 0 0 0 0;
  }

  .save-btn{
    margin-top: 30px;
    width: 100%;
    border-radius: 30px;
  }


  .p-name select{
    width: 100%;
  }
  .discription{
    flex-direction: column-reverse;
  }

  .quantity input{
    width:100%;
  }





}
