<a name="about"></a>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
      <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h6 class="text-uppercase font-weight-bold">Contact</h6>
      <p>1640 Rverside, Moratuwa, Sri Lanka
      <br/><br/>
      <img src="" class="img-fluid" style="width:40px ; height : 35px">
       lakruone@gmail.com
      <br/>
      <a href="https://www.facebook.com/lakruone">
      <img src="" class="img-fluid" style="width:40px ; height : 40px">
      facebook</a>
      <br/>
      <a href="https://www.linkedin.com/in/lakruwan-priyankara-57b368167/">
      <img src="" class="img-fluid" style="width:40px ; height : 40px">
      LinkedIn</a>
      </p>
    </div>
  </div>


  





  <div class="footer-copyright text-center col-sm-12"><hr color="green">© 2019 Copyright: Lakru-one CHRN_Sales </div>


</footer>