<header>


  <div class="logo-container">
    <img src="/img/logo.png" alt="logo">
    <h4>lakru-creations</h4>
  </div>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
  <nav>
    <ul>
      <li class="hov"> <a class="nav-link" href="#" >Specs</a> </li>
      <li class="hov"> <a class="nav-link" href="#">About</a> </li>

      {{#if user}}
      <li class="hov"> <a class="nav-link" href="/logout">Logout</a> </li>
      {{else}}
      <li class="hov"> <a class="nav-link" href="/">Login</a> </li>
      {{/if}}

    </ul>
  </nav>

</header>
