<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    {{!-- include custom css file --}}
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/{{style}}"> 

    
    <title>{{title}}</title>
</head>

  <body onload="myFunction()" style="margin:0;">

    <div id="loader"></div>

    <div style="display:none;" id="myDiv">

  {{>_navbar}}


  {{>_msg}}


  {{{body}}}


  {{>_footer}}


    </div>
  

  <script src="jquery-3.4.1.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>


  <!-- include custom js file -->
  <script src="/js/{{script}}"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/main.js"></script>
     

</body>
</html>


